<form method="post" id="saveDate">
    <p>
        <label for="start-date">Start date:</label>
        <input type="text" id="start-date" />
    </p>
    <p>
        <label for="contactName">Contact Name:</label>
        <input type="text" name="Name" />
    </p>
    <input type="button" id="saveContact" value="Save" />
</form>
